body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: green !important;
  font-size: 15px !important;
}

.logo {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.login {
  color: green;
  background-color: transparent;
  border: none;
}

.logout {
  color: red;
  background-color: transparent;
  border: none;
}

.sign {
  color: black;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}

.setting {
  color: grey;
  background-color: transparent;
  border: none;
}

.people {
  color: blue;
  background-color: transparent;
  border: none;
}

.claim {
  color: white;
}

#username, #password {
  background-color: transparent;
  color: white;
  border: none;
}

#username::placeholder, #password::placeholder {
  color: white;
}

#message {
  background-color: black;
  color: green;
  resize: none;
}

.msg-received {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.box-messages {
  overflow-y: auto;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.box-friends {
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

.friends {
  overflow-y: auto;
  height: 450px;
  min-height: 450px;
  max-height: 450px;
}

.friend {
  border: 2px solid white;
  background-color: black;
  cursor: pointer;
}
